# Based on https://gist.github.com/iSeiryu/a6551059bf3926a4e716682e045c7646

root = true

# EditorConfig is awesome: https://EditorConfig.org

# Don't use tabs for indentation.
[*]
indent_style = space
charset = utf-8
end_of_line = lf

[*.{cs,csx}]
indent_size = 4

# XML files
[*.{csproj,proj,projitems,shproj,props,targets,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# Script files
[*.{json,ps1,psd1,psm1,sh}]
indent_size = 2

# Dotnet code style settings:
[*.cs]

#Sonar https://rules.sonarsource.com/csharp
dotnet_diagnostic.S100.severity = error
dotnet_diagnostic.S103.severity = error
dotnet_diagnostic.S104.severity = error
dotnet_diagnostic.S107.severity = error
dotnet_diagnostic.S108.severity = error
dotnet_diagnostic.S109.severity = error
dotnet_diagnostic.S1110.severity = error
dotnet_diagnostic.S1121.severity = suggestion
dotnet_diagnostic.S1125.severity = error
dotnet_diagnostic.S1128.severity = error
dotnet_diagnostic.S1144.severity = suggestion
dotnet_diagnostic.S1151.severity = error
dotnet_diagnostic.S1186.severity = error
dotnet_diagnostic.S1192.severity = error
dotnet_diagnostic.S1200.severity = error
dotnet_diagnostic.S125.severity = error
dotnet_diagnostic.S138.severity = error
dotnet_diagnostic.S1301.severity = error
dotnet_diagnostic.S1450.severity = error
dotnet_diagnostic.S1481.severity = error
dotnet_diagnostic.S1541.severity = error
dotnet_diagnostic.S1854.severity = error
dotnet_diagnostic.S1940.severity = error
dotnet_diagnostic.S2068.severity = error
dotnet_diagnostic.S2092.severity = error
dotnet_diagnostic.S2156.severity = error
dotnet_diagnostic.S2201.severity = error
dotnet_diagnostic.S2223.severity = error
dotnet_diagnostic.S2302.severity = error
dotnet_diagnostic.S2326.severity = error
dotnet_diagnostic.S2360.severity = none
dotnet_diagnostic.S2372.severity = error
dotnet_diagnostic.S2376.severity = error
dotnet_diagnostic.S2436.severity = error
dotnet_diagnostic.S2486.severity = error
dotnet_diagnostic.S2551.severity = error
dotnet_diagnostic.S2737.severity = error
dotnet_diagnostic.S2997.severity = suggestion
dotnet_diagnostic.S3235.severity = error
dotnet_diagnostic.S3241.severity = suggestion
dotnet_diagnostic.S3358.severity = error
dotnet_diagnostic.S3445.severity = error
dotnet_diagnostic.S3604.severity = error
dotnet_diagnostic.S3925.severity = suggestion
dotnet_diagnostic.S3981.severity = error
dotnet_diagnostic.S4144.severity = error
dotnet_diagnostic.S4201.severity = error
dotnet_diagnostic.S4158.severity = error
dotnet_diagnostic.S4426.severity = error
dotnet_diagnostic.S4457.severity = suggestion
dotnet_diagnostic.S4487.severity = error

#Roslynator http://pihrt.net/Roslynator/Analyzers
dotnet_diagnostic.CA1800.severity = error
dotnet_diagnostic.CA1802.severity = error
dotnet_diagnostic.CA1804.severity = error
dotnet_diagnostic.CA1821.severity = error
dotnet_diagnostic.CA1823.severity = error
dotnet_diagnostic.RCS1001.severity = error
dotnet_diagnostic.RCS1002.severity = error
dotnet_diagnostic.RCS1003.severity = none
dotnet_diagnostic.RCS1004.severity = error
dotnet_diagnostic.RCS1005.severity = error
dotnet_diagnostic.RCS1006.severity = error
dotnet_diagnostic.RCS1010.severity = error
dotnet_diagnostic.RCS1013.severity = error
dotnet_diagnostic.RCS1014.severity = none
dotnet_diagnostic.RCS1015.severity = error
dotnet_diagnostic.RCS1016.severity = error
dotnet_diagnostic.RCS1018.severity = error
dotnet_diagnostic.RCS1019.severity = error
dotnet_diagnostic.RCS1020.severity = error
dotnet_diagnostic.RCS1021.severity = error
dotnet_diagnostic.RCS1024.severity = error
dotnet_diagnostic.RCS1025.severity = error
dotnet_diagnostic.RCS1026.severity = error
dotnet_diagnostic.RCS1028.severity = error
dotnet_diagnostic.RCS1029.severity = error
dotnet_diagnostic.RCS1030.severity = error
dotnet_diagnostic.RCS1032.severity = error
dotnet_diagnostic.RCS1033.severity = error
dotnet_diagnostic.RCS1034.severity = error
dotnet_diagnostic.RCS1035.severity = error
dotnet_diagnostic.RCS1036.severity = error
dotnet_diagnostic.RCS1037.severity = error
dotnet_diagnostic.RCS1038.severity = error
dotnet_diagnostic.RCS1039.severity = error
dotnet_diagnostic.RCS1040.severity = error
dotnet_diagnostic.RCS1041.severity = error
dotnet_diagnostic.RCS1042.severity = error
dotnet_diagnostic.RCS1043.severity = error
dotnet_diagnostic.RCS1044.severity = error
dotnet_diagnostic.RCS1045.severity = error
dotnet_diagnostic.RCS1046.severity = suggestion
dotnet_diagnostic.RCS1047.severity = error
dotnet_diagnostic.RCS1048.severity = error
dotnet_diagnostic.RCS1049.severity = error
dotnet_diagnostic.RCS1052.severity = suggestion
dotnet_diagnostic.RCS1055.severity = error
dotnet_diagnostic.RCS1056.severity = error
dotnet_diagnostic.RCS1057.severity = error
dotnet_diagnostic.RCS1058.severity = error
dotnet_diagnostic.RCS1060.severity = error
dotnet_diagnostic.RCS1061.severity = error
dotnet_diagnostic.RCS1062.severity = error
dotnet_diagnostic.RCS1063.severity = error
dotnet_diagnostic.RCS1064.severity = error
dotnet_diagnostic.RCS1065.severity = error
dotnet_diagnostic.RCS1066.severity = error
dotnet_diagnostic.RCS1067.severity = error
dotnet_diagnostic.RCS1068.severity = error
dotnet_diagnostic.RCS1069.severity = error
dotnet_diagnostic.RCS1070.severity = error
dotnet_diagnostic.RCS1071.severity = error
dotnet_diagnostic.RCS1072.severity = error
dotnet_diagnostic.RCS1073.severity = error
dotnet_diagnostic.RCS1074.severity = error
dotnet_diagnostic.RCS1075.severity = error
dotnet_diagnostic.RCS1076.severity = error
dotnet_diagnostic.RCS1077.severity = error
dotnet_diagnostic.RCS1078.severity = error
dotnet_diagnostic.RCS1079.severity = error
dotnet_diagnostic.RCS1080.severity = error
dotnet_diagnostic.RCS1081.severity = error
dotnet_diagnostic.RCS1084.severity = error
dotnet_diagnostic.RCS1085.severity = error
dotnet_diagnostic.RCS1088.severity = error
dotnet_diagnostic.RCS1089.severity = error
dotnet_diagnostic.RCS1090.severity = none
dotnet_diagnostic.RCS1091.severity = error
dotnet_diagnostic.RCS1092.severity = error
dotnet_diagnostic.RCS1093.severity = error
dotnet_diagnostic.RCS1094.severity = error
dotnet_diagnostic.RCS1096.severity = error
dotnet_diagnostic.RCS1097.severity = error
dotnet_diagnostic.RCS1098.severity = error
dotnet_diagnostic.RCS1099.severity = error
dotnet_diagnostic.RCS1101.severity = error
dotnet_diagnostic.RCS1103.severity = error
dotnet_diagnostic.RCS1104.severity = error
dotnet_diagnostic.RCS1105.severity = error
dotnet_diagnostic.RCS1106.severity = error
dotnet_diagnostic.RCS1107.severity = error
dotnet_diagnostic.RCS1108.severity = error
dotnet_diagnostic.RCS1110.severity = error
dotnet_diagnostic.RCS1112.severity = error
dotnet_diagnostic.RCS1113.severity = error
dotnet_diagnostic.RCS1114.severity = error
dotnet_diagnostic.RCS1118.severity = error
dotnet_diagnostic.RCS1123.severity = error
dotnet_diagnostic.RCS1124.severity = error
dotnet_diagnostic.RCS1126.severity = none
dotnet_diagnostic.RCS1127.severity = error
dotnet_diagnostic.RCS1128.severity = error
dotnet_diagnostic.RCS1129.severity = error
dotnet_diagnostic.RCS1130.severity = error
dotnet_diagnostic.RCS1132.severity = error
dotnet_diagnostic.RCS1133.severity = error
dotnet_diagnostic.RCS1134.severity = error
dotnet_diagnostic.RCS1135.severity = error
dotnet_diagnostic.RCS1136.severity = error
dotnet_diagnostic.RCS1140.severity = error
dotnet_diagnostic.RCS1141.severity = error
dotnet_diagnostic.RCS1142.severity = error
dotnet_diagnostic.RCS1143.severity = error
dotnet_diagnostic.RCS1145.severity = error
dotnet_diagnostic.RCS1146.severity = error
dotnet_diagnostic.RCS1150.severity = error
dotnet_diagnostic.RCS1151.severity = error
dotnet_diagnostic.RCS1153.severity = error
dotnet_diagnostic.RCS1154.severity = error
dotnet_diagnostic.RCS1156.severity = error
dotnet_diagnostic.RCS1157.severity = error
dotnet_diagnostic.RCS1158.severity = error
dotnet_diagnostic.RCS1159.severity = error
dotnet_diagnostic.RCS1160.severity = error
dotnet_diagnostic.RCS1161.severity = none
dotnet_diagnostic.RCS1162.severity = error
dotnet_diagnostic.RCS1163.severity = error
dotnet_diagnostic.RCS1164.severity = error
dotnet_diagnostic.RCS1165.severity = error
dotnet_diagnostic.RCS1166.severity = error
dotnet_diagnostic.RCS1168.severity = error
dotnet_diagnostic.RCS1169.severity = error
dotnet_diagnostic.RCS1170.severity = error
dotnet_diagnostic.RCS1171.severity = error
dotnet_diagnostic.RCS1173.severity = error
dotnet_diagnostic.RCS1175.severity = error
dotnet_diagnostic.RCS1176.severity = error
dotnet_diagnostic.RCS1177.severity = error
dotnet_diagnostic.RCS1178.severity = error
dotnet_diagnostic.RCS1179.severity = error
dotnet_diagnostic.RCS1180.severity = error
dotnet_diagnostic.RCS1181.severity = error
dotnet_diagnostic.RCS1182.severity = error
dotnet_diagnostic.RCS1183.severity = error
dotnet_diagnostic.RCS1185.severity = error
dotnet_diagnostic.RCS1186.severity = none
dotnet_diagnostic.RCS1187.severity = error
dotnet_diagnostic.RCS1188.severity = error
dotnet_diagnostic.RCS1189.severity = error
dotnet_diagnostic.RCS1190.severity = error
dotnet_diagnostic.RCS1191.severity = error
dotnet_diagnostic.RCS1192.severity = error
dotnet_diagnostic.RCS1194.severity = suggestion
dotnet_diagnostic.RCS1195.severity = error
dotnet_diagnostic.RCS1196.severity = error
dotnet_diagnostic.RCS1197.severity = error
dotnet_diagnostic.RCS1199.severity = error
dotnet_diagnostic.RCS1200.severity = error
dotnet_diagnostic.RCS1201.severity = error
dotnet_diagnostic.RCS1202.severity = error
dotnet_diagnostic.RCS1204.severity = error
dotnet_diagnostic.RCS1205.severity = error
dotnet_diagnostic.RCS1206.severity = error
dotnet_diagnostic.RCS1207.severity = error
dotnet_diagnostic.RCS1208.severity = error
dotnet_diagnostic.RCS1209.severity = error
dotnet_diagnostic.RCS1211.severity = error
dotnet_diagnostic.RCS1212.severity = error
dotnet_diagnostic.RCS1213.severity = error
dotnet_diagnostic.RCS1214.severity = error
dotnet_diagnostic.RCS1216.severity = error
dotnet_diagnostic.RCS1217.severity = error
dotnet_diagnostic.RCS1218.severity = error
dotnet_diagnostic.RCS1219.severity = error
dotnet_diagnostic.RCS1220.severity = error
dotnet_diagnostic.RCS1221.severity = error
dotnet_diagnostic.RCS1222.severity = error
dotnet_diagnostic.RCS1224.severity = error
dotnet_diagnostic.RCS1225.severity = error
dotnet_diagnostic.RCS1226.severity = error
dotnet_diagnostic.RCS1227.severity = error
dotnet_diagnostic.RCS1228.severity = suggestion
dotnet_diagnostic.RCS1229.severity = error
dotnet_diagnostic.RCS1230.severity = error
dotnet_diagnostic.RCS1231.severity = error
dotnet_diagnostic.RCS1232.severity = error
dotnet_diagnostic.RCS1233.severity = error
dotnet_diagnostic.RCS1234.severity = error

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = warning